*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(45deg,rgb(12, 179, 12),rgb(107, 218, 4));
    height: 14vh;
    justify-content: space-evenly;
    align-items: center;    
}
header img{
    position: absolute;
    left: 0;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
body{
    background-image: url(images/views/main-bg-image.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.main{

}
.main img{
    border-radius: 15px;
}
