*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(45deg,rgb(12, 179, 12),rgb(107, 218, 4));
    height: 14vh;
    justify-content: space-evenly;
    align-items: center;    
}
nav img{
    margin-left: -60%;
}
nav a{
    margin-right: -40%;
    text-decoration: none;
    color: black;
}