*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto
}
header{
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(45deg,#3CA55C,#B5AC49);
    height: 14vh;
    justify-content: space-evenly;
    align-items: center;    
}
header img{
    position: absolute;
    left: 0;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
body{
    background-image: url(images/views/main-bg-image.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.main{

}
.main p{
    color: white;
}
.main img{
    border-radius: 15px;
}
.img-txt1 , .img-txt2{
    width: 100%;
    display: flex;
}
.img-txt1 p{
    margin-top: 100px;
}
.img-txt1 img{
    margin: 20px;
}
.img-txt2 p{
    margin-top: 100px;
}
.img-txt2 img{
    
    margin: 20px;
}
